body {
	background-color: #FFFFFF;

	.tooltip {
		&.custom-tooltip-sidebar {
			display: none!important;
			margin-left: 10px!important;

		}

		&.custom-tooltip-header,
		&.tooltip-custom-sidebar {
			margin-top: 10px!important;
		}

		.tooltip-inner {
			background-color: #3B82F6;
			font-weight: 500;
			font-size: 12px;
			line-height: 14px;
			padding: 4px 10px;
			border-radius: 5px;
		}

		&.custom-tooltip-billings {
			margin-bottom: 10px!important;

			.tooltip-inner {
				background-color: #262626;
				font-weight: 500;
				font-size: 14px;
				line-height: 16px;
				padding: 3px 5px;
				border-radius: 5px;

				&::before {
					width: 0;
					height: 0;
					border-left: 6px solid transparent;
					border-right: 6px solid transparent;
					border-top: 6px solid #262626;
					position: absolute;
					left: 50%;
					transform: translateX(-50%);
					content: "";
					top: 100%;;
				}
			}
		}
	}

	&.mainmenu-collapsed {
		.tooltip {
			&.custom-tooltip-sidebar {
				&.show {
					display: block!important;

					@media (max-width: 1023.98px) {
						display: none!important;
					}
				}
			}
		}
	}

	&.notificationtoggle {
		.tooltip {
			&.custom-tooltip-header {
				display: none!important;
			}
		}
	}
}


.tippy-box[data-placement^='top'] > .tippy-arrow::before {
	border-top-color: #69B578;
}
.tippy-box[data-placement^='bottom'] > .tippy-arrow::before {
	border-bottom-color: #69B578;
}
.tippy-box[data-placement^='left'] > .tippy-arrow::before {
	border-left-color: #69B578;
}
.tippy-box[data-placement^='right'] > .tippy-arrow::before {
	border-right-color: #69B578;
}

.tippy-box {
	background-color: #6b21a8;
	padding: 3px 5px 2px 5px;
	border-radius: 5px;
	font-weight: bold;
	color: #FFF;
	font-size: 14px;
	line-height: 120%;
}

// swiper slider
.custom-button-prev {
	transition: .3s all ease-in-out;

	&.swiper-button-disabled {
		opacity: 0;
		transition: .3s all ease-in-out;
	}

	@media (max-width: 767.98px) {
		display: none;
	}
}

.custom-button-next {
	transition: .3s all ease-in-out;

	&.swiper-button-disabled {
		opacity: 0;
		transition: .3s all ease-in-out;
	}

	@media (max-width: 767.98px) {
		display: none;
	}
}

.swiper {
	padding-bottom: 30px!important;
}

.disabled_swiper_button {
	display: none;
}

.swiper-pagination {
	--swiper-pagination-color: #FFF;
  	--swiper-pagination-left: auto;
  	--swiper-pagination-right: auto;
  	--swiper-pagination-bottom: 0px;
  	--swiper-pagination-top: auto;
  	--swiper-pagination-fraction-color: inherit;
  	--swiper-pagination-progressbar-bg-color: rgba(0, 0, 0, 0.25);
  	--swiper-pagination-progressbar-size: 4px;
  	--swiper-pagination-bullet-size: 10px;
  	--swiper-pagination-bullet-width: 10px;
  	--swiper-pagination-bullet-height: 10px;
  	--swiper-pagination-bullet-inactive-color: #FFF;
  	--swiper-pagination-bullet-inactive-opacity: 0.2;
  	--swiper-pagination-bullet-opacity: 1;
  	--swiper-pagination-bullet-horizontal-gap: 4px;
  	--swiper-pagination-bullet-vertical-gap: 6px;
}
